body {
    font-family: 'Open Sans', sans-serif;
}

/* shared style */
.text-primary {
    color: #FD6E0A;
}

.button-primary {
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    border: 0;
    /* font-size: 20px; */
    font-weight: 700;
    padding: 15px 35px;
}

.button-contact {
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    background-color: white;
    font-weight: 700;
}

/* this is for nav */
.nav-container {
    display: flex;
    justify-content: space-around;
}

.nav-container>ul {
    display: flex;
    align-items: center;

}

.nav-title {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}

.nav-container li {
    padding-right: 50px;
    list-style: none;

}

a {
    text-decoration: none;
    color: #474747;
}

/* this is for header */

header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
    background-size: 518px 318px, 70px 500px;

}

.banner {
    display: flex;
    align-items: center;
    padding: 30px 30px 0px 0px;
    justify-content: space-around;
}

.banner-container {
    padding-left: 200px;
}

.banner-greeting {
    color: #474747;
    font-size: 25px;
    /* font-weight: 500; */
}

.banner-title {
    font-size: 50px;
    font-weight: 700;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
}

.profile-pic {
    height: 450px;
    width: 400px;
    padding-left: 300px;
}

/* this is main */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* this is for about section */

.about {
    background-color: #FFF8F3;
    padding: 130px;
    margin: 130px 0;
}

.section-title {
    text-align: center;
    font-size: 33px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-title {
    font-size: 15px;
    margin-bottom: 0;
    color: #757575;
}

.info-description {
    margin-top: 0;
}

/* for what container */
.what-container {
    padding: 0 130px;
}

/* for box container */

.box {
    width: 200px;
    height: 300px;
    padding: 30px;
    margin-top: 50px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.box-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 160px;
}

.box-title {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}

.box-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

/* this is for resume */


.resume-container {
    display: flex;
    gap: 50px;
    margin-top: 10px;
}

.resume-col-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.resume-item-institution {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.resume-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

.btn {
    text-align: center;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}

/* this is for footer  */

.footer-container {
    display: flex;
    gap: 150px;
    background-color: #FFF8F3;
    padding: 130px;
    margin-top: 120px;
}

.footer-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.footer-description {
    color: #474747;
    font-size: 16px;
    font-weight: 400;
}

.social-link>a,
.social-link {
    margin-right: 10px;
    margin-top: 20px;
}

.contact input,
textarea {
    display: block;
    margin-top: 24px;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 200px 10px 30px;
    border: 0;
}
.button-form{
    margin-top: 24px;
}